apiVersion: v1
kind: Service
metadata:
  name: web-svc
  namespace: hello-k8s
spec:
  selector:
    app: web
  type: NodePort
  ports:
    - name: http
      port: 80
      targetPort: 8080
      nodePort: 30080